h1 {
	color: red;
}

.gameBoard {
    border-collapse: collapse;
    font-size: large;
}

.light, .dark {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.light {
    background-color: rgb(230, 230, 230);
}

.dark {
    background-color: rgb(180, 180, 180);
}
