{% extends 'base.html' %}

{% block body %}
<table class="gameBoard">
    <tr>
	<td class="light"> {{ ttt.get_board()[1] }} </th>
        <td class="dark">{{ ttt.get_board()[2] }}</th>
        <td class="light">{{ ttt.get_board()[3] }}</th>
    </tr>
    <tr>
        <td class="dark">{{ ttt.get_board()[4] }}</th>
        <td class="light">{{ ttt.get_board()[5] }}</th>
        <td class="dark">{{ ttt.get_board()[6] }}</th>
    </tr>
    <tr>
        <td class="light">{{ ttt.get_board()[7] }}</th>
        <td class="dark">{{ ttt.get_board()[8] }}</th>
        <td class="light">{{ ttt.get_board()[9] }}</th>
    </tr>
</table>
<br>
<br>
<br>
<form action="/play" method="POST">
    <label> It's {{ ttt.get_player() }}'s turn, where would you like to play? <br>
	    The open moves are {{ ttt.open_moves() }} <br>
        <input type="number" name="move" min="1" max="9"/>
	<input type="submit" value="play"/>
    </label>
</form>
{% endblock %}
